<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>conv</title>
</head>

<body>
    <div class="converter">
        <h1>Конвертер валют</h1>
        <form method="get">
            <input type="number" name="summ" placeholder="Сумма" step="0.01" required>

            <select class="button_left" name="from_currency">
                <option value="RUB">RUB (Рубли)</option>
                <option value="USD">USD (Доллары)</option>
                <option value="KZT">KZT (Тенге)</option>
            </select>

            <span>→</span>

            <select class="button_right" name="to_currency">
                <option value="USD">USD (Доллары)</option>
                <option value="KZT">KZT (Тенге)</option>
                <option value="RUB">RUB (Рубли)</option>
            </select>

            <br><br>
            <button class="convert_btn" type="submit">Конвертировать</button>
        </form>

        {% if data.conversion_text %}
        <div class="result">
            <h2>{{ data.conversion_text }}</h2>
        </div>
        {% endif %}
    </div>
</body>

</html>